<div class="login">
    <div _ngcontent-eho-c100="" class="col-xlg-8">
        <div _ngcontent-eho-c100="" class="card shadow-lg border-0 rounded-lg mt-5">
            <div _ngcontent-eho-c100="" class="card-header justify-content-center">
                <h3 _ngcontent-eho-c100="" class="font-weight-light my-4">Login</h3>
            </div>
            <div _ngcontent-eho-c100="" class="card-body">
                <form _ngcontent-eho-c100="" novalidate="" class="ng-untouched ng-pristine ng-invalid">
                    <div _ngcontent-eho-c100="" class="form-group"><label _ngcontent-eho-c100=""
                            for="inputEmailAddress" class="small mb-1">Email</label><input
                            _ngcontent-eho-c100="" id="inputEmailAddress" data-cy="emailInput" type="email"
                            placeholder="Enter email address" aria-describedby="emailHelp"
                            formcontrolname="email"
                            class="form-control py-4 ng-untouched ng-pristine ng-invalid">
                        <div _ngcontent-eho-c100="" class="invalid-feedback">Email required.</div>
                        <!---->
                        <!---->
                    </div>
                    <div _ngcontent-eho-c100="" class="form-group"><label _ngcontent-eho-c100=""
                            for="inputPassword" class="small mb-1">Password</label><input _ngcontent-eho-c100=""
                            id="inputPassword" data-cy="passwordInput" type="password"
                            placeholder="Enter password" formcontrolname="password"
                            class="form-control py-4 ng-untouched ng-pristine ng-invalid">
                        <div _ngcontent-eho-c100="" class="invalid-feedback">Password required.</div>
                        <!---->
                        <!---->
                    </div>
                    <div _ngcontent-eho-c100="" class="form-group">
                        <div _ngcontent-eho-c100="" class="custom-control custom-checkbox"><input
                                _ngcontent-eho-c100="" id="rememberPasswordCheck"
                                data-cy="rememberPasswordCheck" type="checkbox" formcontrolname="checkbox"
                                class="custom-control-input ng-untouched ng-pristine ng-valid"><label
                                _ngcontent-eho-c100="" for="rememberPasswordCheck"
                                class="custom-control-label">Remember password</label></div>
                    </div>
                    <div _ngcontent-eho-c100=""
                        class="form-group d-flex align-items-center justify-content-between mt-4 mb-0"><a
                            _ngcontent-eho-c100="" routerlink="/auth/forgot-password" class="small"
                            href="/auth/forgot-password">Forgot Password?</a><button _ngcontent-eho-c100=""
                            data-cy="loginButton" type="submit" class="btn btn-primary"
                            disabled="">Login</button></div>
                </form>
            </div>
            <div _ngcontent-eho-c100="" class="card-footer text-center">
                <div _ngcontent-eho-c100="" class="small"><a _ngcontent-eho-c100="" routerlink="/auth/register"
                        href="/auth/register">Need an account? Sign up!</a></div>
            </div>
        </div>
    </div>
</div>